/* START CSS VARIABLES */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: .3s;
    --section-background-color: #ececec;
    --section-padding-top: 100px;
    --section-padding-bottom: 100px;
}

/* END CSS VARIABLES */



/* START Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* END Global Rules */


/* START Components */
.main-heading {
    text-transform: uppercase;
    font-size: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-heading:hover {
    color: white;
    border: 2px solid white;
    transition-delay: var(--main-transition);
}

.main-heading::before,
.main-heading::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: -1;
}

.main-heading::before {
    left: -30px;
}

.main-heading::after {
    right: -30px;
}

.main-heading:hover::before,
.main-heading:hover::after {
    animation-duration: var(--main-transition);
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.main-heading:hover::before {
    animation-name: main-heading-before;
}

.main-heading:hover::after {
    animation-name: main-heading-after;
}

/* END Components */


/* START HEADER */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .header .container {
        flex-direction: column;
    }
}

.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    height: 72px;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        height: 50px;
    }
}

.header .main-menu {
    display: flex;
}

.header .main-menu>li>a {
    text-transform: capitalize;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: black;
    font-size: 18px;
    transition: var(--main-transition);
    position: relative;
}

@media (max-width: 767px) {
    .header .main-menu>li>a {
        font-size: 14px;
        padding: 0 10px;
        height: 40px;
    }
}

.header .main-menu>li>a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: var(--main-transition);
}

.header .main-menu>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.header .main-menu>li>a:hover::before {
    width: 100%;
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    top: calc(100% + 50px);
    left: 0;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        align-items: normal;
        gap: 0;
        padding: 5px;
    }
}

.header .main-menu>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

.header .mega-menu ul {
    flex: 1;
    min-width: 220px;
}

@media (max-width: 767px) {
    .header .mega-menu ul {
        margin: 0;
    }
}

.header .mega-menu ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu ul:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu ul li a {
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
    display: block;
    padding: 15px;
    font-size: 18px;
    position: relative;
}

.header .mega-menu ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: width var(--main-transition);
}

.header .mega-menu ul li a:hover::before {
    width: 100%;
}

.header .mega-menu ul li a i {
    margin-right: 10px;
}

/* END HEADER */



/* START LANDING */
.landing {
    background-color: white;
    overflow: hidden;
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--section-background-color);
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    position: relative;
    height: calc(100vh - 72px);
    padding-bottom: 120px;
    display: flex;
    align-items: center;
}

.landing .container .text {
    margin-right: 50px;
}

@media (max-width: 991px) {
    .landing .container .text {
        margin-right: 0;
        text-align: center;
    }
}

.landing .container .text h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .container .text p {
    font-size: 23px;
    color: #666;
    line-height: 1.7;
    margin: 5px 0 0;
}

@media (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 25px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}

.landing .container img {
    max-width: 50%;
    position: relative;
    animation-name: move-landing-img;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (max-width: 991px) {
    .landing .container img {
        display: none;
    }
}

.landing .container .angles {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
    animation: bouncing 1.5s infinite;
}

.landing .container .angles:hover {
    color: var(--main-color-alt);
}

.landing .container .angles i {
    font-size: 2em;
}

@media (max-width: 991px) {
    .landing .container .angles i {
        font-size: 1.5em;
    }
}

/* END LANDING */



/* START ARTICLES */
.articles {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.articles .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .content .box {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    overflow: hidden;
    transition: var(--main-transition);
}

.articles .content .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.20);
}

.articles .content .box img {
    max-width: 100%;
}

.articles .content .box .text {
    padding: 20px;
    border-bottom: 1px solid #e9e6e6;
}

.articles .content .box .text h3 {
    text-transform: capitalize;
}

.articles .content .box .text p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
}

.articles .content .box .read-more {
    padding: 20px;
    position: relative;
}

.articles .content .box .read-more::after {
    content: "\f178";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.articles .content .box:hover .read-more::after {
    animation: move-arrow-right .6s linear infinite;
}

.articles .content .box .read-more a {
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: bold;
}

/* END ARTICLES */



/* START SPIKES */
.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(45deg, transparent 75%, white 75%);
    width: 100%;
    height: 30px;
    background-size: 30px 30px;
}

/* END SPIKES */



/* START GALLERY */
.gallery {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
}

.gallery::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--section-background-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.gallery .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .image {
    border: 15px solid white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
    position: relative;
}

.gallery .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    opacity: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.2);
}

.gallery .image:hover::before {
    animation: flashing .6s;
}

.gallery .image img {
    max-width: 100%;
    height: 100%;
    transition: transform var(--main-transition);
}

.gallery .image:hover img {
    transform: scale(1.1) rotate(5deg);
}

/* END GALLERY */



/* START FEATURES */
.features {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.features .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 1px solid #ddd;
    text-align: center;
}

.features .box .image {
    position: relative;
    overflow: hidden;
}

.features .box .image::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.features .box:first-of-type .image::before {
    background-color: #f44036;
}

.features .box:nth-of-type(2) .image::before {
    background-color: #009688;
}

.features .box:last-of-type .image::before {
    background-color: #03a9f4;
}

.features .box .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 0px 500px 170px 500px;
}


.features .box .image img {
    max-width: 100%;
}

.features .box h3 {
    text-transform: capitalize;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.features .box h3::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 80%;
}

.features .box:first-of-type h3::after {
    background-color: #f44036;
}

.features .box:nth-of-type(2) h3::after {
    background-color: #009688;
}

.features .box:last-of-type h3::after {
    background-color: #03a9f4;
}

.features .box p {
    line-height: 1.8;
    font-size: 20px;
    padding: 25px;
    margin: 30px 0;
    color: #777;
}

.features .box a {
    text-transform: capitalize;
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color var(--main-transition);
}

.features .box:first-of-type a {
    color: #f44036;
    border-color: #f44036;
}

.features .box:nth-of-type(2) a {
    color: #009688;
    border-color: #009688;
}

.features .box:last-of-type a {
    color: #03a9f4;
    border-color: #03a9f4;
}

.features .box:hover a {
    color: white;
}

.features .box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: left var(--main-transition);
}

.features .box:first-of-type a::before {
    background-color: #f44036;
}

.features .box:nth-of-type(2) a::before {
    background-color: #009688;
}

.features .box:last-of-type a::before {
    background-color: #03a9f4;
}

.features .box:hover a::before {
    left: 0;
}

/* END FEATURES */



/* START TESTIMONIALS */
.testimonials {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
}

.testimonials .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    position: relative;
}

.testimonials .box .avatar {
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background-color);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: -10px;
}

.testimonials .box h3 {
    text-transform: capitalize;
}

.testimonials .box .job-title {
    display: block;
    margin: 10px 0;
    text-transform: capitalize;
    color: #777;
}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    margin-top: 10px;
    line-height: 1.5;
    color: #777;
}

/* END TESTIMONIALS */



/* START TEAM-MEMBERS */
.team-members {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.team-members .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team-members .box {
    padding-top: 60px;
    position: relative;
}

.team-members .box::before,
.team-members .box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
}

.team-members .box::before {
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
}

.team-members .box::after {
    width: 0;
    background-color: #e4e4e4;
    transition: width var(--main-transition);
    z-index: -1;
}

.team-members .box:hover::after {
    width: calc(100% - 60px);
}

.team-members .box .part-one {
    display: flex;
    align-items: center;
}

.team-members .box .part-one img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .box:hover .part-one img {
    filter: grayscale(1);
}

.team-members .box .part-one .social-accounts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-members .box .part-one .social-accounts a {
    color: #777;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--main-transition);
}

.team-members .box .part-one .social-accounts a:hover {
    color: var(--main-color);
}

.team-members .box .part-two {
    padding: 20px 20px 20px 80px;
}

.team-members .box .part-two h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 5px;
    transition: color var(--main-transition);
}

.team-members .box:hover .part-two h3 {
    color: #777;
}

.team-members .box .part-two p {
    line-height: 1.5;
}

@media (max-width: 767px) {
    .team-members .box {
        padding: 20px;
    }

    .team-members .box::before {
        width: 100%;
    }

    .team-members .box:hover::after {
        width: 100%;
    }

    .team-members .box .part-one {
        flex-direction: column;
        gap: 10px;
    }

    .team-members .box .part-one img {
        width: 100%;
    }

    .team-members .box .part-one .social-accounts {
        flex-direction: row;
    }

    .team-members .box .part-two {
        padding: 20px 20px 10px;
        text-align: center;
    }
}

/* END TEAM-MEMBERS */



/* START SERVICES */
.services {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    counter-reset: srv;
}

.services .box {
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    position: relative;
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before,
.services .box::after {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover::before {
    width: 100%;
}

.services .box .service {
    text-align: center;
    padding: 30px 10px 40px;
}

.services .box .service i {
    color: #d5d5d5;
}

.services .box .service h3 {
    margin-top: 20px;
    font-size: 25px;
    text-transform: capitalize;
    color: var(--main-color);
}

.services .box .info {
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    position: relative;
    overflow: hidden;
}

.services .box .info::before {
    counter-increment: srv;
    content: counter(srv, decimal-leading-zero);
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 20px;
    font-size: 30px;
}

.services .box .info::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 50px;
    height: 101%;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--main-color);
}

/* END SERVICES */



/* START SKILLS */
.our-skills {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.our-skills .content {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills .image {
        display: none;
    }
}

.our-skills .content>div:not(.image) {
    flex-grow: 1;
}

.our-skills .skill:not(:last-child) {
    margin-bottom: 20px;
}

.our-skills .skill h3 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-skills .skill h3 span {
    color: var(--main-color);
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
}

.our-skills .skill .progress {
    height: 30px;
    background-color: #eee;
}

.our-skills .skill .progress span {
    background-color: var(--main-color);
    display: block;
    height: 100%;
}

/* END SKILLS */



/* START HOW IT WORKS */
.how-it-works {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
}

.how-it-works .content {
    display: flex;
    align-items: center;
    gap: 100px;
}

@media (max-width: 1199px) {
    .how-it-works .content {
        flex-direction: column;
        gap: 50px;
    }
}

.how-it-works .content>img {
    max-width: 100%;
}

.how-it-works .step {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .how-it-works .step {
        flex-direction: column;
        text-align: center;
    }
}

.how-it-works .step::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    height: 0%;
    width: 0%;
    z-index: -1;
    transition: var(--main-transition);
}

.how-it-works .step:hover::after {
    height: 100%;
    width: 100%;
}

.how-it-works .step:not(:last-child) {
    margin-bottom: 20px;
}

.how-it-works .step img {
    width: 64px;
}

.how-it-works .step .text h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.how-it-works .step .text p {
    font-size: 18px;
    line-height: 1.7;
    color: #777;
}

/* END HOW IT WORKS */



/* START EVENTS */
.events {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: white;
}

.events .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .event-img {
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .event-img {
        display: none;
    }
}

.events .latest-events {
    text-align: center;
    flex: 1;
}

.events .latest-events .counter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.events .latest-events .counter>div {
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 75px;
    transition: var(--main-transition);
}

.events .latest-events .counter>div .number {
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 15px;
    transition: var(--main-transition);
}

.events .latest-events .counter>div:hover,
.events .latest-events .counter>div:hover .number {
    border-color: var(--main-color);
}

.events .latest-events .counter>div .text {
    font-size: 13px;
    padding: 8px 10px;
}

.events .latest-events h3 {
    font-size: 30px;
    margin: 40px 0 20px;
}

.events .latest-events p {
    font-size: 19px;
    line-height: 1.7;
    color: #777;
}

.events .subscription {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 100px;
}

.events .subscription form {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f6f5f5;
    padding: 30px;
    border-radius: 50px;
}

.events .subscription form input[type="email"] {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin-right: 20px;
    width: 400px;
    max-width: 100%;
    caret-color: var(--main-color);
}

.events .subscription form input[type="email"]:focus {
    outline: none;
}

.events .subscription form input[type="email"]::placeholder {
    transition: var(--main-transition);
}

.events .subscription form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscription form input[type="submit"] {
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .events .subscription form {
        padding: 20px;
        border-radius: 0;
        width: 100%;
    }

    .events .subscription form input[type="email"] {
        border-radius: 0;
        margin: 0 0 20px;
        width: 100%;
    }

    .events .subscription form input[type="submit"] {
        border-radius: 0;
        width: 100%;
    }
}

.events .subscription form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* END EVENTS */



/* START PLANS */
.pricing-plans {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--section-background-color);
}

.pricing-plans .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing-plans .plan {
    background-color: white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    position: relative;
    z-index: 1;
}

.pricing-plans .plan::before,
.pricing-plans .plan::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing-plans .plan::before {
    left: 0;
    top: 0;
}

.pricing-plans .plan::after {
    right: 0;
    bottom: 0;
}

.pricing-plans .plan:hover::before,
.pricing-plans .plan:hover::after {
    width: 100%;
}

@media (min-width: 1200px) {
    .pricing-plans .plan.popular {
        transform: translateY(-20px);
    }
}

.pricing-plans .plan.popular .label {
    position: absolute;
    right: 20px;
    writing-mode: vertical-lr;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 40px;
    padding: 10px 10px 35px;
}

.pricing-plans .plan.popular .label::after {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white;
    transition: var(--main-transition);
}

.pricing-plans .plan.popular:hover .label::after {
    border-bottom-color: #f6f6f6;
}

.pricing-plans .plan .head {
    text-align: center;
    padding: 30px 0 20px;
}

.pricing-plans .plan .head h3 {
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.pricing-plans .plan .head img {
    width: 80px;
}

.pricing-plans .plan .head .price {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin: 30px auto 5px;
}

.pricing-plans .plan .head .period {
    color: #777;
}

.pricing-plans .plan .plan-features li {
    padding: 20px;
    border-top: 1px solid #ddd;
    position: relative;
}

.pricing-plans .plan .plan-features li::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing-plans .plan>a {
    display: block;
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    border-radius: 5px;
    transition: var(--main-transition);
}

.pricing-plans .plan>a:hover {
    background-color: var(--main-color);
    color: white;
}

/* END PLANS */



/* START TOP VIDEOS */
.top-videos {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: white;
}

.top-videos .content {
    display: flex;
    border: 1px solid #e2e2e2;
}

@media (max-width: 991px) {
    .top-videos .content {
        flex-direction: column;
    }
}

.top-videos .videos-title {
    min-width: 300px;
    background-color: #f4f4f4;
}

.top-videos .videos-title .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
}

.top-videos .videos-title .titles li {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
    transition: var(--main-transition);
}

.top-videos .videos-title .titles li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.top-videos .videos-title .titles li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.top-videos .video-preview {
    flex: 1;
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-videos .video-preview img {
    max-width: 100%;
}

.top-videos .video-preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}

/* END TOP VIDEOS */



/* START STATS */
.stats {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
}

.stats .container {
    position: relative;
}

.stats .heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.stats .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    position: relative;
    opacity: 0.8;
    transition: opacity var(--main-transition);
}

.stats .box:hover {
    opacity: 1;
}

.stats .box::before,
.stats .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: var(--main-color);
    transition: height calc(var(--main-transition) * 2);
}

.stats .box::before {
    bottom: 0;
    left: 0;
}

.stats .box::after {
    top: 0;
    right: 0;
}

.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.stats .box .description {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);
}

/* END STATS */



/* START DISCOUNT */
.request-discount {
    min-height: 100vh;
    display: flex;
}

@media (max-width: 991px) {
    .request-discount {
        flex-direction: column;
    }
}

.request-discount .info,
.request-discount .request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.request-discount .info {
    flex-basis: 50%;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    padding: 40px 15px;
    color: white;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.request-discount .info h3,
.request-discount .request h3 {
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: -2px;
}

.request-discount .info p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
    text-align: center;
}

.request-discount .info img {
    width: 300px;
    margin-top: 20px;
}

.request-discount .info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .96;
    z-index: -1;
}

.request-discount .request {
    flex-basis: 50%;
    padding: 40px 15px;
}

.request-discount .request form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.request-discount .request form input {
    height: 50px;
}

.request-discount .request form input:not([type="submit"]),
.request-discount .request form textarea {
    background-color: #f9f9f9;
    background-color: #f9f9f9;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    caret-color: var(--main-color);
}

.request-discount .request form input:not([type="submit"]):focus,
.request-discount .request form textarea:focus {
    outline: none;
}

.request-discount .request form textarea {
    resize: none;
    height: 200px;
}

.request-discount .request form input[type="submit"] {
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.request-discount .request form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* END DISCOUNT */



/* START FOOTER */
.footer {
    background-color: #191919;
    color: #b9b9b9;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 70px 15px;
}

.footer .about .logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.footer .about .social-media {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .footer .about .social-media {
        justify-content: center;
    }
}

.footer .about .social-media a {
    display: block;
    padding: 13px;
    background-color: #313131;
    color: #b9b9b9;
    font-size: 20px;
    transition: var(--main-transition);
}

.footer .about .social-media a:hover {
    color: white;
}

.footer .about .social-media .facebook:hover {
    background-color: #1877f2;
}

.footer .about .social-media .twitter:hover {
    background-color: #1da1f2;
}

.footer .about .social-media .youtube:hover {
    background-color: #fe0000;
}

.footer .about>p {
    line-height: 2;
}

.footer .links li {
    padding: 15px 0
}

.footer .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .links li a {
    display: block;
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .links li a:hover {
    color: white;
}

.footer .links li a::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f101";
    color: var(--main-color);
    margin-right: 10px;
}

.footer .links li:hover a {
    transform: translateX(10px);
}

.footer .info>div {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 767px) {
    .footer .info>div {
        flex-direction: column;
    }
}

.footer .info>div:not(:last-child) {
    margin-bottom: 30px;
}

.footer .info>div i {
    font-size: 25px;
    color: var(--main-color);
}

.footer .info .address address,
.footer .info .hours p,
.footer .info .phone ul {
    line-height: 1.7;
}

.footer .info .phone ul li a {
    color: #b9b9b9;
}

.footer .min-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .made-by {
    border-top: 1px solid #444;
    padding: 20px 15px;
    text-align: center;
}

.footer .made-by i {
    color: red;
}

/* END FOOTER */




/* START ANIMATIONS */
@keyframes move-landing-img {

    0%,
    100% {
        top: 0
    }

    50% {
        top: -50px
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        bottom: 30px
    }

    40%,
    60% {
        bottom: 40px
    }
}

@keyframes main-heading-before {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes main-heading-after {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes move-arrow-right {
    to {
        right: 10px
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes change-background {
    30% {
        background-image: url(../imgs/discount-background2.jpg);
    }

    80% {
        background-image: url(../imgs/discount-background1.jpg);
    }
}

/* END ANIMATIONS */